<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>{{meta_title}}</title>
		<meta name="description" content="{{meta_description}}" />
		<link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
		{{ghost_head}}
	</head>
	<body>
		<header class="sub-head">
			<div class="wrapper">
				<h3 class="sub-title">Alex Older - Front End Developer, Bristol UK</h3>
				<ul class="site-list">
					<li class="site"><a href="http://wearebluefly.com">Bluefly Digital</a></li>
					<li class="site"><a href="http://webdevconf.com">WDC</a></li>
					<li class="site"><a href="http://breakfast-epiphanies.com">Breakfast Epiphanies</a></li>
				</ul>
			</div>
		</header>
		<header class="main-head">
			<div class="wrapper">
				<a href="/" class="home-link">
					<img src="{{asset "img/banner.png"}}" class="banner">
					<h1 class="site-title">AlexOlder.com</h1>
				</a>
			</div>
		</header>
    	{{{body}}}
    	<footer class="main-foot">
    		<div class="wrapper">
    			<ul class="footer-info">
    				<li>Built by <a href="http://wearebluefly.com">Bluefly Digital</a></li>
    				<li>Powered by <a href="https://ghost.org/">Ghost</a></li>
    			</ul>
    		</div>
    	</footer>
    	{{ghost_foot}}
    	<script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    	<script type="text/javascript" src="{{asset "js/index.js"}}"></script>
	    <script>
	        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	        ga('create', 'UA-3692427-2', 'alexolder.com');
	        ga('send', 'pageview');
	    </script>
	</body>
</html>